tracker/examples/flows/filter.json
[{"id":"402aefb8.4df96","type":"mqtt in","z":"a4195d2d.53d718","name":"","topic":"tracker/cam1","qos":"2","datatype":"json","broker":"b36480c1.dc9ea","x":110,"y":100,"wires":[["697ce547.db82fc"]]},{"id":"697ce547.db82fc","type":"function","z":"a4195d2d.53d718","name":"Filter","func":"if( msg.payload.dy > 0 && msg.payload.age >= 5.0 )\n    return msg;\n","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["dcea68dc.5f2af"]]},{"id":"dcea68dc.5f2af","type":"debug","z":"a4195d2d.53d718","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":100,"wires":[]},{"id":"b36480c1.dc9ea","type":"mqtt-broker","z":"","name":"Broker","broker":"1.2.3.4","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
