tracker/examples/flows/visualization.json
[{"id":"f5f732ce.7c2698","type":"Axis Camera","z":"c003476f.7078e8","name":"","account":"4a587dff.95b924","address":"bergs.juhlin.me","action":"Image","data":"resolution=640x360","format":"base64","x":370,"y":120,"wires":[["b6e0a933.1b9268"]]},{"id":"b6e0a933.1b9268","type":"ui_template","z":"c003476f.7078e8","group":"85971601.363","name":"Dashboard","order":4,"width":"13","height":"12","format":"<div id=\"{{'view_'+$id}}\" style=\"width:640px; height:360px\">\n    <div id=\"{{'frame_'+$id}}\" style=\"width:100%; height:100%; position:relative\">\n        <img id=\"{{'image_'+$id}}\" class=\"card-img-top\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n        <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n    </div>\n</div>\n\n<script>\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (!msg)\n            return;\n            \n        if( msg.topic === \"image\" ) {\n            $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ' + msg.payload);\n            return;\n        }\n\n        if( msg.topic === \"clear\" ) {\n            ctx = document.getElementById(\"canvas_\"+scope.$id).getContext(\"2d\");\n            if( !ctx ) {\n                console.log(\"Invalid Context\")\n                return;\n            }\n            ctx.beginPath();\n            ctx.clearRect(0, 0, 1000, 1000 );\n            ctx.stroke();\n        }\n        \n        if( msg.topic.split(\"/\")[0] === \"tracker\" ) {\n            ctx = document.getElementById(\"canvas_\"+scope.$id).getContext(\"2d\");\n            if( !ctx ) {\n                console.log(\"Invalid Context\")\n                return;\n            }\n            \n            var object = msg.payload;\n            \n            if( object.phase === 0 ) { //New Object\n                ctx.lineWidth = 3;\n                ctx.strokeStyle = '#00FF00';\n                ctx.beginPath();\n                ctx.rect( object.bx, object.by, object.bw, object.bh ); \n                ctx.moveTo(object.cx, object.cy );\n                ctx.arc( object.bcx, object.bcy, 6, 0, 2 * Math.PI);\n                ctx.stroke();\n            }\n            \n            if( object.phase === 1 ) { //Object tracking\n                ctx.strokeStyle = '#0000FF';\n                ctx.lineWidth = 4;\n                ctx.beginPath();\n                ctx.moveTo(object.pcx, object.pcy );\n                ctx.arc( object.cx, object.cy, 6, 0, 2 * Math.PI);\n                ctx.stroke();\n            }\n            \n            if( object.phase === 2 ) { //Object left scene\n                ctx.lineWidth = 3;\n                ctx.strokeStyle = '#FF0000';\n                ctx.beginPath();\n                ctx.rect( object.x, object.y, object.w, object.h );\n                ctx.moveTo(object.pcx, object.pcy );\n                ctx.arc( object.cx, object.cy, 6, 0, 2 * Math.PI);\n                ctx.stroke();\n            }\n        }\n    });\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":550,"y":160,"wires":[[]]},{"id":"828291f.242877","type":"ui_button","z":"c003476f.7078e8","name":"","group":"85971601.363","order":3,"width":"5","height":"1","passthru":false,"label":"Clear objects","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"clear","x":210,"y":200,"wires":[["b6e0a933.1b9268"]]},{"id":"9b2df0b3.8f59f","type":"ui_button","z":"c003476f.7078e8","name":"","group":"85971601.363","order":2,"width":"5","height":"1","passthru":false,"label":"Refresh image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"image","x":220,"y":120,"wires":[["f5f732ce.7c2698"]]},{"id":"9cf6253c.cd86f8","type":"mqtt in","z":"c003476f.7078e8","name":"","topic":"tracker/cam1","qos":"2","datatype":"json","broker":"b36480c1.dc9ea","x":210,"y":160,"wires":[["b6e0a933.1b9268"]]},{"id":"4a587dff.95b924","type":"Camera Account","z":"","name":"root","protocol":"http"},{"id":"85971601.363","type":"ui_group","z":"","name":"Image","tab":"10acf2fb.4847ad","order":1,"disp":false,"width":"13","collapse":false},{"id":"b36480c1.dc9ea","type":"mqtt-broker","z":"","name":"Broker","broker":"1.2.3.4","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"10acf2fb.4847ad","type":"ui_tab","z":"","name":"Tracker","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
